<template name="phoneItem">
  <div class="col s6 m6">
    <div class="card light-green darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{name}}</span>
        <p>title</p>
        <p>{{phoneNumber}}</p>
        <p>email</p>
      </div>
      <div class="car-action">
        <a href="{{pathFor 'phonePage'}}" class="waves-effect waves-light btn phone-btn indigo">Edit</a>
        <a href="#" class="waves-effect waves-light btn phone-btn indigo">Set OoO</a>
      </div>
    </div>
  </div>
</template>
