<template name="phoneEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="{{name}}" placeholder="Your Name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Your Title" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'phoneNumber'}}">
      <label class="control-label" for="phoneNumber">Phone Number</label>
      <div class="controls">
          <input name="phoneNumber" id="phoneNumber" type="text" value="{{phoneNumber}}" placeholder="Your Phone Number" class="form-control"/>
          <span class="help-block">{{errorMessage 'phoneNumber'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'email'}}">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
          <input name="email" id="email" type="text" value="{{email}}" placeholder="Your Email Address" class="form-control"/>
          <span class="help-block">{{errorMessage 'email'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <hr/>
    <a class="btn red delete" href="#">Delete Phone</a>
  </form>
</template>
